<!-- Button trigger modal -->
<button type="button" class="btn btn-modal" data-toggle="modal" data-target="#exampleModal">
    <span class="material-icons">
        edit
    </span>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create post</h5>
            </div>
            <form autocomplete="false" [formGroup]="postForm" (ngSubmit)="addPost()">
                <div class="modal-body">
                    <div class="form-row">
                        <input type="text" placeholder="Title" class="form-control" formControlName="title">
                        <p *ngIf="invalidField('title')" class="text-danger">* This field is required</p>
                    </div>
                    <div class="form-row">
                        <textarea name="summary" class="form-control" id="sumary-form" rows="1" placeholder="Description" formControlName="summary"></textarea>
                        <p *ngIf="invalidField('summary')" class="text-danger">* This field is required</p>
                    </div>
                    <div class="form-row">
                        <select id="inputState" class="form-control" formControlName="category">
                            <option value ="Travel">Travel</option>
                            <option value ="Lifestyle">Lifestyle</option>
                            <option value ="Business">Business</option>
                            <option value ="Food">Food</option>
                            <option value ="Work">Work</option>
                          </select>
                        <p *ngIf="invalidField('category')" class="text-danger">* This field is required</p>
                    </div>
                    <div class="form-row">
                        <input type="text" id="" class="form-control" placeholder="URL of the image" value="https://source.unsplash.com/random" formControlName="img">
                        <p *ngIf="invalidField('img')" class="text-danger">* This field is required</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-canel" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update post</h5>
            </div>
            <form autocomplete="false" [formGroup]="postFormUpdate" (ngSubmit)="updatePost()">
                <div class="modal-body">
                    <div class="form-row">
                        <input type="text" placeholder="Title" class="form-control" id="titleInput" formControlName="title">
                        <p *ngIf="invalidFieldUpdate('title')" class="text-danger">* This field is required</p>
                    </div>
                    <div class="form-row">
                        <textarea name="summary" class="form-control" id="summaryUpdate" rows="6" placeholder="Description" formControlName="summary"></textarea>
                        <p *ngIf="invalidFieldUpdate('summary')" class="text-danger">* This field is required</p>
                    </div>
                    <div class="form-row">
                        <select id="categoryInput" class="form-control" formControlName="category">
                            <option value ="Travel">Travel</option>
                            <option value ="Lifestyle">Lifestyle</option>
                            <option value ="Business">Business</option>
                            <option value ="Food">Food</option>
                            <option value ="Work">Work</option>
                          </select>
                        <p *ngIf="invalidFieldUpdate('category')" class="text-danger">* This field is required</p>
                    </div>
                    <div class="form-row">
                        <input type="text" id="imgInput" class="form-control" placeholder="URL of the image" formControlName="img">
                        <p *ngIf="invalidFieldUpdate('img')" class="text-danger">* This field is required</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-canel" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-submit">Update Post</button>
                </div>
            </form>
        </div>
    </div>
</div>