<div class="comment-box">
    <div class="comment">
        <div class="user-img">
            <p>
                <span class="material-icons">
                    person_pin
                </span>
            </p>
        </div>
        <div class="comment-body">
            <div class="comment-user">
                <h3>{{ thisComment.user }}</h3>
            </div>
            <div class="comment-text">
                <p>
                    {{ thisComment.comment }}
                </p>
            </div>
        </div>
    </div>
</div>